/* Public pages */
.public {
	position: relative;
	background: url('./assets/landing.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.public-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.public-inner form {
	width: 30%;
  justify-content: center;
	align-items: center;
	text-align: left;
}

.public-inner h1,
.public-inner h4,
.public-inner p {
	color: white;
}

/* Header, Footer */
.dash-header {
  background-color: #579928;
}

.dash-header a {
  color: aliceblue;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dash-footer {

}

/* Dashboard */
.dashboard {

}

